@model PHCApplication.Models.ReferralsCounselling
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DocMentalHealthLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ReferralsCounselling</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

