@{
    ViewData["Title"] = "AdminDashboardMedicalProcedures";
    Layout = "~/Views/Shared/_AdminMedicalProcedureLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Patient - Bootstrap Patient Template</title>


    <link rel="shortcut icon" type="image/x-icon" href="~/SideManu/assets/img/favicon.png">

    <link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/SideManu/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/fullcalendar.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/style.css">

    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
    <link rel="stylesheet" type="text/css" href="~/Dash/css/style.css">

    <style>
        .custom-heading {
            font-size: 24px;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            /* Add more styles as needed */
        }
    </style>

    <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
</head>


@model IEnumerable<PHCApplication.Models.Admin>

@{
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
<form>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-primary">Admin Details</h3>
                <hr />
            </div>
            <div>
                <button asp-controller="MedicalProcedureAdministrator" asp-action="Create" class="btn btn-primary mb-3">Book Discharge</button>
            </div>
        </div>
        <br />
        <table class="table table-responsive table-hover table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th class="text-center">Id</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Gender</th>
                    <th class="text-center col-2">Date of Birth</th>
                    <th class="text-center col-2">Qualification</th>
                    <th class="text-center col-2">Email</th>
                    <th class="text-center col-2">Address</th>
                    <th class="text-center col-2">Street Address</th>
                    <th class="text-center col-2">Postal Address</th>
                    <th class="text-center col-2">Marital Status</th>
                     <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-2">Password</th>
                    <th class="text-center col-2">Confirm Password</th>

                    @*<th class="text-center col-2">Status</th>
                    <th class="text-center col-2">Doctor</th>*@
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var MedicalProcedureAdministrator in Model)
                    {
                        <tr>
                            <td>@MedicalProcedureAdministrator.Id</td>
                            <td>@MedicalProcedureAdministrator.FirstName</td>
                            <td>@MedicalProcedureAdministrator.LastName</td>
                            <td class="text-center">@MedicalProcedureAdministrator.Gender</td>
                            <td>@MedicalProcedureAdministrator.DateOfBirth</td>
                            <td>@MedicalProcedureAdministrator.Qualification</td>
                            <td>@MedicalProcedureAdministrator.Email</td>
                            <td>@MedicalProcedureAdministrator.Address</td>
                            <td>@MedicalProcedureAdministrator.StreetAddress</td>
                            <td>@MedicalProcedureAdministrator.PostalAddress</td>
                            <td>@MedicalProcedureAdministrator.MaritalStatus</td>
                            <td>@MedicalProcedureAdministrator.ContactNumber</td>
                            <td>@MedicalProcedureAdministrator.Username</td>
                            <td>@MedicalProcedureAdministrator.Password</td>
                            <td>@MedicalProcedureAdministrator.ConfirmPassword</td>
                            
                            <td>
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="fighter" asp-action="Update" asp-route-id="@MedicalProcedureAdministrator.Id" class="btn btn-primary mx-1">Update</a>
                                    <a asp-controller="fighter" asp-action="Delete" asp-route-id="@MedicalProcedureAdministrator.Id" class="btn btn-danger mx-1">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <div>
                                No Admin info available at the moment for you
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


