@model IEnumerable<PHCApplication.Models.Walk_in>

@{
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
<style>

    .container {
        padding: 20px;
        max-width: 100%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }

    h3 {
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    .btn {
        margin: 5px;
    }

    body {
        background-color: lightpink; /* Change this color to the desired background color */
        margin: 0; /* Reset margin to remove default spacing */
        padding: 0; /* Reset padding to remove default spacing */
    }
</style>
<form>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-primary">Walk In</h3>

            </div>
            <div>
                <button asp-controller="Walkins" asp-action="Create" class="btn btn-primary mb-3">Walk In</button>
            </div>
        </div>
        <br />
        <table class="table table-responsive table-hover table-hover table-bordered">
            <thead>
                <tr class="table-active">
                    <th class="text-center">Id</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Date Created</th>
                    <th class="text-center col-2">Specialisatio</th>
                    <th class="text-center col-2">Description</th>
                    @*<th class="text-center col-2">Status</th>
                    <th class="text-center col-2">Doctor</th>*@
                   @* <th class="text-center">Edit</th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var Walkins in Model)
                    {
                        <tr>
                            <td>@Walkins.Id</td>
                            <td>@Walkins.FirstName</td>
                            <td>@Walkins.LastName</td>
                            <td class="text-center">@Walkins.DateTime</td>
                            <td>@Walkins.Specialisation</td>
                            <td>@Walkins.Description</td>
                            @*<td>
                                <div class="w-100 btn-group" role="group">
                                    <a asp-controller="fighter" asp-action="Update" asp-route-id="@Walkins.Id" class="btn btn-primary mx-1">Update</a>
                                    <a asp-controller="fighter" asp-action="Delete" asp-route-id="@Walkins.Id" class="btn btn-danger mx-1">Delete</a>
                                </div>
                            </td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <div>
                                No record of walk in
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


