
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PatientMedicalProcedureLayout.cshtml";
}

@model IEnumerable<PHCApplication.Models.Discharge>

@{
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}

<p>
    <a asp-controller="Discharge" asp-action="Create">Apply for Discharge</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DischargeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                    @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DischargeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DischargeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DischargeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

